<h1>Mis solicitudes</h1>
<p>Estas son las solicitudes a mi plan</p>
<div class="container">
  <% @my_requests.each do |r| %>
    <p>
      <strong>Plan nombre: </strong>
      <%= r.plan.name %>
    </p>
    <p>
      <strong>Postulante: </strong>
      <%= r.user.first_name%>
    </p>
    <p>
    <strong>Estado: </strong>
    <%= r.status %>
    </p>
    <%= button_to 'Aceptar solicitud', travel_path(r), method: :patch, class: "btn btn-primary mb-2" %>
    <%= link_to 'Eliminar', travel_path(r), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
  <% end %>
</div>
