<div id="myTravels" class="body container mt-5">
  <div class="header">
    <div class="banner">
      <video autoplay loop muted>
        <source src="<%= asset_path('my_travels.mp4') %>" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="header-text container content d-flex justify-content-center text-center">
        <div>
          <h1 class="bolder">Mis solicitudes</h1>
        </div>
      </div>
    </div>
  </div>

  <% if flash[:notice] %>
    <div class="p-3 mb-2 rounded text-white <%= flash[:notice] ? 'bg-success' : 'bg-danger' %>">
      <strong>
        <span>
          <i class="fa-solid <%= flash[:notice] ? 'fa-check' : 'fa-exclamation-triangle' %>"></i>
          <%= "Solicitud eliminada con éxito." %>
        </span>
      </strong>
    </div>
  <% end %>

  <div class="row" data-controller="travels-filters">

    <div id="filters" class="d-flex justify-content-center flex-wrap mb-3">
      <a href="" class="btn btn-primary my-4 mx-2 w-100" style="max-width: 150px;" data-action="click->travels-filters#filter"
        data-travels-filters-target="todos">Todos</a>
      <a href="" class="btn btn-primary my-4 mx-2 w-100" style="max-width: 150px;" data-action="click->travels-filters#filter"
        data-travels-filters-target="aceptado">Aceptado</a>
      <a href="" class="btn btn-primary my-4 mx-2 w-100" style="max-width: 150px;" data-action="click->travels-filters#filter"
        data-travels-filters-target="solicitado">Solicitado</a>
      <a href="" class="btn btn-primary my-4 mx-2 w-100" style="max-width: 150px;" data-action="click->travels-filters#filter"
        data-travels-filters-target="rechazado">Rechazado</a>
    </div>

    <% @my_travels.each do |travel| %>
      <div class="col-12 col-md-6 d-flex align-items-stretch mb-4 travel-container">
        <div class="card plan-card travel-card shadow h-100">
          <div class="col-6">
            <% if travel.plan.photos.attached? %>
              <%= cl_image_tag travel.plan.photos.first.key, height: 300, width: 450, crop: :fill, class: 'img-fluid' %>
            <% else %>
              <%= image_tag "sinimagen.jpg", height: 300, width: 450, crop: :fill, class: 'img-fluid' %>
            <% end %>
          </div>
          <div class="col-6">
            <div class="card-body">
              <h5 class="card-title"><%= travel.plan.name %></h5>
              <p class="description text-start"><%= travel.plan.description %></p>
              <p class="card-text departament">
                <i class="fa-solid fa-location-dot me-2"></i>Departamento: <%= travel.plan.departament %>
              </p>
              <p class="card-text departure-date">
              <i class="fa-regular fa-calendar me-2"></i> Fecha de partida: <%= travel.plan.start_date.strftime('%d/%m/%Y') %>
              </p>
              <p class="card-text travelers">
                <i class="fa-solid fa-user-group me-2"></i> <%= travel.plan.travelers_quantity %> viajeros
              </p>
              <p class="card-text state">
                <i class="fa-solid fa-hourglass-half me-2"></i>
                Estado:
                <span data-travels-filters-status-value=<%= travel.status %> class="badge ms-2 <%= travel.status == 'solicitado' ? 'text-bg-warning text-white' : travel.status == 'aceptado' ? 'text-bg-primary  text-white' : 'text-bg-danger  text-white' %>">
                  <%= travel.status.capitalize %>
                </span>
              </p>
              <% if travel.status == 'aceptado' %>
                <p class="card-text">
                  <i class="fa-solid fa-hourglass-half me-2"></i>
                  Reseña:
                  <span class="badge ms-2 <%= travel.reviews.exists? == false ? 'text-bg-warning text-white' : travel.reviews.exists? == true ? 'text-bg-primary text-white' : 'text-bg-danger text-white' %>">
                    <% if travel.reviews.exists? %>
                      <i class="fa-solid fa-check"></i>
                    <% else %>
                      <i class="fa-solid fa-xmark"></i>
                    <% end %>
                  </span>
                </p>
              <% end %>
              <div class="buttons d-flex justify-content-end">
                <%= link_to plan_path(travel.plan), class: "btn btn-primary me-2" do %>
                  <i class="fa-solid fa-eye"></i>
                <% end %>
                <% user_travel = travel.user_id %>
                <% if user_travel == current_user.id && travel.status == "aceptado" %>
                    <%= link_to new_plan_message_path(travel.plan), class: "btn btn-primary btn-reserve me-2" do %>
                      <i class="fa-regular fa-comment"></i>
                    <% end %>
                <% end %>
                <% if travel.status == 'aceptado' && travel.reviews.exists? %>
                  <%= link_to user_review_path(travel.user.id, travel.reviews[0].id), class: "btn btn-primary  me-2" do %>
                    <i class="fa-solid fa-star"></i>
                  <% end %>
                <% elsif travel.status == 'aceptado' %>
                  <%= link_to new_travel_review_path(travel.id), class: "btn btn-primary  me-2" do %>
                    <i class="fa-regular fa-star"></i>
                  <% end %>
                <% end %>
                <%= link_to travel_path(travel), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" do %>
                      <i class="fa-solid fa-trash-can"></i>
                    <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
