<div class="container-chat h-100 d-flex flex-column">
  <div class="header d-flex align-items-center">
    <% if plan.photo.attached? %>
      <%= cl_image_tag plan.photo.key, height: 30, width: 30, crop: :fill, class: 'img-fluid rounded-circle' %>
    <% else %>
      <%= image_tag "sinicono.jpg", height: 30, width: 30, crop: :fill, class: 'img-fluid rounded-circle' %>
    <% end %>
    <%= link_to plan.name, plan_path(plan), class: "", data:{turbo:false} %>
  </div>

  <div class="chat-box flex-grow-1 d-flex flex-column">
    <%= turbo_stream_from "plan_#{plan.id}_messages" %>
    <div id="messages" class="messages flex-grow-1">
      <% plan.messages.each do |message| %>
        <%= render "messages/message", message: message, user: current_user %>
      <% end %>
    </div>
    <%= simple_form_for [plan, new_message], url: plan_messages_path(plan),
      html: {class: "d-flex align-items-center", data: {controller: "reset-message", action: "turbo:submit-end->reset-message#reset"}} do |f|
    %>
      <%# other_user = current_user == @plan.restaurant.user ? @plan.user : @plan.restaurant.user %>
      <%= f.input :content,
        label: false,
        placeholder: "Escribe tu mensaje",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>

    <% end %>
  </div>
</div>
