<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-dark
    <%= 'd-none' if (controller_name == 'sessions' && action_name == 'new') || (controller_name == 'registrations' && action_name == 'new') %>
    <%= 'transparent' if(controller_name == 'pages')%>"
    data-controller="navbar" data-navbar-target="navbar">
  <div class="container">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo_tripmate.png", class: "logo" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Mensajes", messages_path, class: "nav-link me-4" %>
          </li>
          <li class="nav-item d-flex dropdown">
            <%= turbo_stream_from "counter_for_user_#{current_user.id}" %>
            <div id="counter">
              <%= render partial: "shared/notifications_count", locals: { count: @my_requests_not_viewed.count } %>
            </div>
            <%= turbo_stream_from "notifications_for_user_#{current_user.id}" %>
            <div id="notifications">
              <%= render partial: "shared/modal_notifications", locals: { requests: @my_requests_not_viewed } %>
            </div>
          </li>

          <li class="nav-item">
            <%= link_to "Todos los planes", plans_path, class: "btn btn-outline btn-sm me-2" %>
          </li>
           <li class="nav-item">
            <%= link_to "Crear plan", new_plan_path, class: "btn btn-sm me-3" %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, height: 40, width: 40, crop: :fill, class: "img-fluid avatar", alt: "dropdown menu" %>
              <% else %>
                <%= image_tag "user.png", height: 40, width: 40, crop: :fill, class: "img-fluid avatar", alt: "dropdown menu" %>
              <% end %>
            </a>
            <div class="menu-user dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Mi perfil", user_reviews_path(current_user.id), class: "dropdown-item" %>
              <%= link_to "Mis planes", my_plans_path(@plan), class: "dropdown-item" %>
              <%= link_to "Solicitudes enviadas", my_travels_path, class: "dropdown-item" %>
              <%= link_to "Cerrar sesión", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Inicia Sesión", new_user_session_path, class: "btn btn-md me-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "Registrate", new_registration_path(:user), class: "btn btn-outline  btn-md" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
