<div id="showPlan" data-controller="show-plan">
  <div id="flash">
    <% if flash[:notice] == 'success' %>
      <div class="notice p-3 mb-2 bg-success rounded text-white">
        <strong><span><i class="fa-solid fa-check"></i> Plan creado exitosamente.</span></strong>
      </div>
    <% end %>
  </div>
  <div class="container mt-5">
    <div>
      <%= link_to plans_path, class: 'btn btn-secondary mb-3' do %>
          <i class="fa-solid fa-arrow-left"></i>
      <% end %>
    </div>
    <div class="row">
      <div class="col-12 col-md-5">
        <p class="title-header"><%= @plan.name %></p>
        <hr/>
        <div class="tripmate">
          <%= link_to user_reviews_path(@plan.user), class:"d-flex align-items-center" do %>
            <div class="me-3">
              <% if @plan.user.photo.attached? %>
                <%= cl_image_tag @plan.user.photo.key, height: 40, width: 40, crop: :fill, class: 'img-fluid' %>
              <% else %>
                <%= image_tag "sinimagen.jpg", height: 40, width: 40, crop: :fill, class: 'img-fluid' %>
              <% end %>
            </div>
            <div class="user">
              <p class="name">Viaja con <%= @plan.user.first_name %></p>
              <p class="description">
                Nuevo viajero
              </p>
            </div>
          <% end %>
        </div>
        <hr/>
        <p class="mb-2"><%= @plan.description %></p>
        <hr/>
          <div class="description-plan">
            <p class="title"><i class="fa-solid fa-plane me-2"></i>Lugares a visitar:</p>
            <%=raw @plan.location%>
          </div>
        <div class="d-flex gap-2">
          <%#= link_to 'Enviar solicitud', plan_travels_path, class: "btn btn-primary" %>
          <%#= button_to 'Enviar solicitud', plan_travels_path, method: :post, params {key: value}%>
        </div>
      </div>
      <div class="col-12 col-md-7">
        <div class="container-carousel">
          <section id="main-carousel" class="splide" aria-label="My Awesome Gallery">
            <div class="splide__track">
              <ul class="splide__list">
                <% @plan.photos.each do |photo| %>
                  <li class="splide__slide">
                    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
                  </li>
                <% end %>
              </ul>
            </div>
          </section>
          <ul id="thumbnails" class="thumbnails">
            <% @plan.photos.each do |photo| %>
              <li class="thumbnail">
                <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="detail-card">
          <div class="departament">
            <i class="fa-solid fa-location-dot"></i>
            <%= @plan.departament  %>
          </div>

          <div class="date-picker">
            <div class="date-section">
              <div class="date-label">LLEGADA</div>
              <div class="date-value"><%= @plan.start_date.strftime('%d/%m/%Y') %></div>
            </div>
            <div class="date-section">
              <div class="date-label">SALIDA</div>
              <div class="date-value"><%= @plan.end_date  .strftime('%d/%m/%Y') %></div>
            </div>
          </div>

          <div class="guest-select">
            <div class="guest-label me-2">VIAJEROS</div>
            <div class="guest-value"><%= @plan.travelers_quantity%> viajeros</div>
            <i class="bi bi-chevron-down"></i>
          </div>
          <% if user_signed_in? %>
            <% if current_user != @plan.user %>
              <% if @applied %>
                <%= button_to 'Ya lo solicitaste', "#", method: :post, class: "btn btn-primary btn-reserve", disabled: true %>
              <% elsif @ticket_available %>
                <%= button_to 'Solicitar', plan_travels_path(@plan), method: :post, class: "btn btn-primary btn-reserve" %>
              <% else %>
                <%= button_to 'Agotado', plan_travels_path(@plan), class: "btn btn-primary btn-reserve", disabled: true %>
              <% end %>
            <% end %>
          <% else %>
            <%= button_to 'Solicitar', new_user_session_path, class: "btn btn-primary btn-reserve" %>
          <% end %>

        </div>

      </div>
      <div class="container mt-4">
        <div style="width: 100%; height: 600px;"
        data-controller="start-point"
        data-start-point-marker-value="<%= @marker.to_json %>"

        data-start-point-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
  </div>
</div>
