<h1>Plans#show</h1>
<p>Find me in app/views/plans/show.html.erb</p>

<div class="container">

    <div>
      <p>
        <strong>Name:</strong>
        <%= @plan.name %>
      </p>
      <p>
        <strong>description:</strong>
        <%= @plan.description %>
      </p>
      <p>
        <strong>location:</strong>
        <%= @plan.location %>
      </p>
      <div class="d-flex gap-2">
        <%#= link_to 'Enviar solicitud', plan_travels_path, class: "btn btn-primary" %>
        <%= button_to 'Enviar solicitud', plan_travels_path(@plan), method: :post, class: "btn btn-primary" %>
        <%#= button_to 'Enviar solicitud', plan_travels_path, method: :post, params {key: value}%>
        <%= link_to 'Volver a planes', plans_path, class: "btn btn-success" %>
        <%= link_to 'Eliminar', plan_path(@plan), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
      </div>
    </div>
    <br>

</div>
